<!DOCTYPE html>
{% load static %}
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Home</title>
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">

</head>
<body>

  <section data-bs-version="5.1" class="content15 cid-tz9v14dX4H" id="content15-0">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-12">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mbr-white mb-3 display-5">
                            <strong>Pages</strong></h4>
                        <p class="mbr-text mbr-fonts-style display-7">Automatic reports web app</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features3 cid-tz9vNLDZOi" id="features3-1">
  <div class="container"> 
    <div class="row mt-4"> 

  {% block content %}<h3>Content not found</h3>{% endblock content %}

    </div>
  </div>
</section>

</body>
</html>