<section data-bs-version="5.1" class="features16 cid-tCxXflcaUp" id="features17-8">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
<!--                <div class="col-12 col-lg-4">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/assets/images/mbr-1.jpg" alt="Image">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">{{ block_processor.block.title }}</h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-5">{{ block_processor.view.context }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>